USE [master]
GO
/****** Object:  Database [Decor]    Script Date: 18.04.2026 14:52:37 ******/
CREATE DATABASE [Decor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Decor', FILENAME = N'D:\BD\Decor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Decor_log', FILENAME = N'D:\BD\logo\Decor_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Decor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Decor]
GO
/****** Object:  Table [dbo].[EdIzmer]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdIzmer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_EdIzmer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [int] NOT NULL,
	[IdUser] [int] NULL,
	[Bday] [date] NULL,
	[Pasport] [nvarchar](50) NULL,
	[BankInfo] [nvarchar](50) NULL,
	[IdFam] [int] NULL,
	[IdHealf] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fam]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fam](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Healf]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Healf](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_IdHealf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[IdType] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[KolvoUpak] [int] NULL,
	[IdEd] [int] NULL,
	[CostEd] [decimal](18, 2) NULL,
	[MinKol] [int] NULL,
	[Kol] [int] NULL,
	[KolOnSclad] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Art] [nvarchar](50) NULL,
	[IdType] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[MinCostPart] [decimal](18, 2) NULL,
	[Weigh] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMater]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMater](
	[Id] [int] NOT NULL,
	[IdProd] [int] NULL,
	[IdMaterial] [int] NULL,
	[Kolva] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ProductMater] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Procent] [decimal](18, 2) NULL,
 CONSTRAINT [PK_IdType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProd]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProd](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Koef] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TypeProd] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.04.2026 14:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IdRole] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EdIzmer] ON 

INSERT [dbo].[EdIzmer] ([Id], [Name]) VALUES (1, N'рул       ')
INSERT [dbo].[EdIzmer] ([Id], [Name]) VALUES (2, N'кг        ')
INSERT [dbo].[EdIzmer] ([Id], [Name]) VALUES (3, N'л         ')
SET IDENTITY_INSERT [dbo].[EdIzmer] OFF
GO
INSERT [dbo].[Material] ([Id], [IdType], [Name], [KolvoUpak], [IdEd], [CostEd], [MinKol], [Kol], [KolOnSclad]) VALUES (1, 1, N'Бумага-основа с покрытием для флизелиновых обоев', 100, 1, CAST(1700.00 AS Decimal(18, 2)), 1000, 2500, 2500)
INSERT [dbo].[Material] ([Id], [IdType], [Name], [KolvoUpak], [IdEd], [CostEd], [MinKol], [Kol], [KolOnSclad]) VALUES (2, 1, N'Бумага-основа для флизелиновых обоев', 100, 1, CAST(1500.00 AS Decimal(18, 2)), 1000, 3000, 300)
INSERT [dbo].[Material] ([Id], [IdType], [Name], [KolvoUpak], [IdEd], [CostEd], [MinKol], [Kol], [KolOnSclad]) VALUES (3, 1, N'Бумага обойная для вспененных виниловых обоев', 100, 1, CAST(1200.00 AS Decimal(18, 2)), 1000, 1500, 1500)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Art], [IdType], [Name], [MinCostPart], [Weigh]) VALUES (0, N'234', 1, N'rrrrr', CAST(5555555.00 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Art], [IdType], [Name], [MinCostPart], [Weigh]) VALUES (1, N'1549921', 1, N'Обои из природного материала Традиционный принт светло-коричневые', CAST(16950.00 AS Decimal(18, 2)), CAST(0.91 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Art], [IdType], [Name], [MinCostPart], [Weigh]) VALUES (2, N'2018556', 2, N'Фотообои флизелиновые Горы 500x270 см', CAST(15880.00 AS Decimal(18, 2)), CAST(0.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProductMater] ([Id], [IdProd], [IdMaterial], [Kolva]) VALUES (3, 14, 18, CAST(1.50 AS Decimal(18, 2)))
INSERT [dbo].[ProductMater] ([Id], [IdProd], [IdMaterial], [Kolva]) VALUES (4, 18, 18, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductMater] ([Id], [IdProd], [IdMaterial], [Kolva]) VALUES (5, 10, 18, CAST(1.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Type] ([Id], [Name], [Procent]) VALUES (1, N'Бумага', CAST(0.70 AS Decimal(18, 2)))
INSERT [dbo].[Type] ([Id], [Name], [Procent]) VALUES (2, N'Краска', CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[Type] ([Id], [Name], [Procent]) VALUES (3, N'Клей', CAST(0.15 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[TypeProd] ON 

INSERT [dbo].[TypeProd] ([ID], [Name], [Koef]) VALUES (1, N'Декоративные обои', CAST(5.50 AS Decimal(18, 2)))
INSERT [dbo].[TypeProd] ([ID], [Name], [Koef]) VALUES (2, N'Фотообои', CAST(7.54 AS Decimal(18, 2)))
INSERT [dbo].[TypeProd] ([ID], [Name], [Koef]) VALUES (3, N'Обои под покраску', CAST(3.25 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TypeProd] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Fam] FOREIGN KEY([IdFam])
REFERENCES [dbo].[Fam] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Fam]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_IdHealf] FOREIGN KEY([IdHealf])
REFERENCES [dbo].[Healf] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_IdHealf]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_IdType] FOREIGN KEY([IdType])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_IdType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeProd] FOREIGN KEY([IdType])
REFERENCES [dbo].[TypeProd] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeProd]
GO
ALTER TABLE [dbo].[ProductMater]  WITH CHECK ADD  CONSTRAINT [FK_ProductMater_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ProductMater] CHECK CONSTRAINT [FK_ProductMater_Material]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
